# Challenge 3 Create a Travel Itinerary with a Corresponding Map

In [11]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [12]:
gmaps.__version__

'0.9.0'

In [13]:
gmaps.configure(api_key=g_key)

In [14]:
vacation_df = pd.read_csv("data/WeatherPy_Vacation.csv")

In [15]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,rikitea,PF,69.80,-23.12,-134.97,Pension Maro'i
1,2,cartagena,CO,91.40,10.40,-75.51,Allure Chocolat
2,4,aykhal,RU,64.40,66.00,111.50,NaN
3,5,laguna,US,87.01,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
4,6,bone,DE,72.00,51.97,12.14,Sporthotel Wallwitz

In [16]:
# Using the template add the hotel marks to the heat map
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [17]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
vacation_start = vacation_df.loc[vacation_df["City"] == "westport"]
vacation_end = vacation_df.loc[vacation_df["City"] == "goderich"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "broome"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "jamestown"]

In [19]:
start = vacation_start["Lat"].values[0], vacation_end["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]

print(start)
print(end)
print(stop1)
print(stop2)

(41.14, -81.72)
(43.75, -81.72)
(42.25, -75.83)
(42.1, -79.24)

In [20]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode='DRIVING'
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])

In [22]:
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
169,278,westport,US,88.00,41.14,-73.36,The Westport Inn
250,417,goderich,CA,71.01,43.75,-81.72,Harmony Inn
308,508,broome,US,84.00,42.25,-75.83,Chenango Valley State Park
96,152,jamestown,US,75.20,42.10,-79.24,Hampton Inn & Suites Jamestown

In [23]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,278,westport,US,88.00,41.14,-73.36,The Westport Inn
1,417,goderich,CA,71.01,43.75,-81.72,Harmony Inn
2,508,broome,US,84.00,42.25,-75.83,Chenango Valley State Park
3,152,jamestown,US,75.20,42.10,-79.24,Hampton Inn & Suites Jamestown

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat", "Lng"]]

In [25]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))